body
{
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
display: flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.container
{
    margin: 0 15px;
}

.form-page
{
    
    width: 250px;
    max-width: 450px;
    padding: 30px;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

